@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FoundersGrotesk";   /*Can be any text*/
  src: local("FoundersGrotesk"),
    url("./fonts/FoundersGrotesk.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMontreal";   /*Can be any text*/
  src: local("NeueMontreal"),
    url("./fonts/NeueMontreal.ttf") format("truetype");
}